/* Cores */

$preto: rgb(0, 0, 0)
$branco: rgb(255, 255, 255)
$laranjaEscuro: rgb(232, 93, 0)
$azulFlorescente: rgb(0, 255, 255)
$verdeFlorescente: rgb(0, 255, 1)

$cinzaBackground: rgb(247, 247, 247)
$cinzaTexto: rgb(77, 77, 77)
$cinzaTextoRodape: rgb(138, 138, 138)
$cinzaClaroBorda: rgb(207, 207, 207)
$cinzaVitrine: rgb(36, 49, 57)
$cinzaIcone153: rgb(153, 153, 153)
$cinzaSombra: rgb(223, 223, 223)
$cinza204: rgb(204, 204, 204)

// Ícones Sobre nós
$laranja: rgb(255, 102, 0)
$verde: rgb(51, 204, 51)
$amarelo: rgb(255, 166, 20)
$cinza110: rgb(110, 110, 110)